<div class="menu">
  <a routerLink="/home">
    <img src="assets/images/tsi_logo.png" alt="TSI">
  </a>

  <nav>
    <a *ngFor="let menuItem of dataSources.menuItems" 
      [routerLink]="menuItem.link"
      routerLinkActive="selected" >
      {{ menuItem.localizationKey | translate }}
    </a>
  </nav>

  <div class="menu-languages">
    <a *ngFor="let languageItem of dataSources.languageItems"
      [ngClass]="{ 'selected': page.currentLanguage == languageItem.code }"
      (click)="methods.changeLanguage(languageItem.code)">
      {{ languageItem.label }}
    </a>
    <a class="logout" (click)="methods.logout()">
      <mat-icon>exit_to_app</mat-icon>
    </a>
  </div>
</div>