<h1>
  {{ 'HEADERS.NOTIFICATIONS' | translate }}
</h1>

<button mat-raised-button color="primary" (click)="methods.addNew()" [disabled]="page.isEditing">
  <mat-icon>add</mat-icon>
  <span> {{ 'COMMON.ADD' | translate }} </span>
</button>

<div class="notification-rules-container">

  <div class="notification-rule" *ngFor="let notificationRule of dataSources.notificationRules;">

    <div class="notification-rule-form">
      <div style="grid-column: 1 / span 3;">
        <mat-form-field>
          <mat-label>{{ 'NOTIFICATION_RULE.NAME' | translate }}</mat-label>
          <input required matInput [(ngModel)]="notificationRule.name" autocomplete="off" [disabled]="!notificationRule.editing">
        </mat-form-field>
      </div>

      <div style="grid-column: 4 / span 1;">
        <mat-form-field>
          <mat-label>{{ 'NOTIFICATION_RULE.NOTIFICATION_METHOD' | translate }}</mat-label>
          <mat-select required [(ngModel)]="notificationRule.notificationMethod" [disabled]="!notificationRule.editing">
            <mat-option *ngFor="let notificationMethod of dataSources.notificationMethods" [value]="notificationMethod.id">{{ notificationMethod.title | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div style="grid-column: 1 / span 2;">
        <mat-form-field>
          <mat-label>{{ 'NOTIFICATION_RULE.FACULTY' | translate }}</mat-label>
          <mat-select required (selectionChange)="methods.onFacultyChange($event, notificationRule)" [(ngModel)]="notificationRule.facultyId" [disabled]="!notificationRule.editing">
            <mat-option *ngFor="let faculty of dataSources.faculties" [value]="faculty.id">{{ faculty.title }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    
      <div style="grid-column: 3 / span 2;">
        <mat-form-field>
          <mat-label>{{ 'NOTIFICATION_RULE.STUDY_PROGRAMME' | translate }}</mat-label>
          <mat-select required [disabled]="notificationRule.studyProgrammes == null || notificationRule.studyProgrammes.length <= 0 || !notificationRule.editing" [(ngModel)]="notificationRule.studyProgrammeId">
            <mat-option *ngFor="let studyProgramme of notificationRule.studyProgrammes" [value]="studyProgramme.id">{{ studyProgramme.title }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      
      <div style="grid-column: 1 / span 1;">
        <mat-form-field>
          <mat-label>{{ 'NOTIFICATION_RULE.LANGUAGE' | translate }}</mat-label>
          <mat-select required [(ngModel)]="notificationRule.language" [disabled]="!notificationRule.editing">
            <mat-option *ngFor="let language of dataSources.studentLanguages" [value]="language.id">{{ language.title | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div style="grid-column: 2 / span 1;">
        <mat-form-field>
          <mat-label>{{ 'NOTIFICATION_RULE.LEARNING_FORM' | translate }}</mat-label>
          <mat-select required [(ngModel)]="notificationRule.learningForm" [disabled]="!notificationRule.editing">
            <mat-option *ngFor="let learningForm of dataSources.studentLearningForms" [value]="learningForm.id">{{ learningForm.title | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div style="grid-column: 3 / span 1;">
        <mat-form-field>
          <mat-label>{{ 'NOTIFICATION_RULE.ATTENDANCE_FOR_TIME_PERIOD' | translate }}</mat-label>
          <input type="number" min="0" required matInput [(ngModel)]="notificationRule.attendancePeriod" [disabled]="!notificationRule.editing">
        </mat-form-field>
      </div>

      <div style="grid-column: 4 / span 1;">
        <mat-form-field>
          <mat-label>{{ 'NOTIFICATION_RULE.ATTENDANCE_LESS_THAN' | translate }}</mat-label>
          <input type="number" min="0" max="100" required matInput [(ngModel)]="notificationRule.attendanceProcent" [disabled]="!notificationRule.editing">
        </mat-form-field>
      </div>

      <div style="grid-column: 1 / span 4;">
        <mat-form-field >
          <mat-label>{{ 'NOTIFICATION_RULE.MESSAGE' | translate }}</mat-label>
          <textarea required matInput [(ngModel)]="notificationRule.message" autocomplete="off" style="height: 100px;" [disabled]="!notificationRule.editing"></textarea>
        </mat-form-field>
      </div>
    </div>

    <button mat-raised-button color="primary" (click)="methods.edit(notificationRule)" *ngIf="!notificationRule.editing" [disabled]="page.isEditing">
      <mat-icon>edit</mat-icon>
      <span> {{ 'COMMON.EDIT' | translate }} </span>
    </button>
    <button mat-raised-button color="primary" (click)="methods.save(notificationRule)" *ngIf="notificationRule.editing">
      <mat-icon>save</mat-icon>
      <span> {{ 'COMMON.SAVE' | translate }} </span>
    </button>
    <button mat-raised-button (click)="methods.cancel(notificationRule)" *ngIf="notificationRule.editing && notificationRule.id == 0" style="margin-left: 14px;">
      <mat-icon>cancel</mat-icon>
      <span> {{ 'COMMON.CANCEL' | translate }} </span>
    </button>
    <button mat-raised-button color="warn" (click)="methods.delete(notificationRule)" *ngIf="!notificationRule.editing" [disabled]="page.isEditing" style="margin-left: 14px;">
      <mat-icon>delete</mat-icon>
      <span> {{ 'COMMON.DELETE' | translate }} </span>
    </button>

  </div>

</div>