.notification-rule {

    margin: 20px 0px;
    padding: 14px;
    border: 3px var(--tsi-white) solid;
    border-radius: 14px;
    background-color: var(--tsi-white-transparent);

    
}
.notification-rule-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 7px;
}

.notification-rule mat-form-field {
    width: 100%;
}