:root {
    --tsi-blue: #144774;
    --tsi-blue-transparent: rgba(20, 71, 116, 0.8);

    --tsi-blue-dark: #113c61;
    --tsi-white: #e0e0e0;

    --tsi-success: #39882e;
    --tsi-info: #30597c;
    --tsi-error: #c04141;
}

html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;

    background: url(assets/images/tsi_background.jpg) no-repeat left center fixed;
    background-size: cover;

    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w10pct {
    width: 10%;
}
.w20pct {
    width: 20%;
}
.w30pct {
    width: 30%;
}
.w40pct {
    width: 40%;
}
.w50pct {
    width: 50%;
}
.w60pct {
    width: 60%;
}
.w70pct {
    width: 70%;
}
.w80pct {
    width: 80%;
}
.w90pct {
    width: 90%;
}
.w100pct {
    width: 100%;
}

/* TODO: add viewports */
.data-form mat-form-field {
    display: block;
}
.data-form mat-form-field.short-field {
    width: 20%;
}
.data-form mat-form-field.medium-field {
    width: 55%;
}
.data-form mat-form-field.long-field {
    width: 85%;
}
.m20t {
    margin-top: 20px;
}
