:root {
    --tsi-blue: #144774;
    --tsi-blue-transparent: rgba(20, 71, 116, 0.8);

    --tsi-blue-dark: #113c61;

    --tsi-white: #e0e0e0;
}

html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;

    background: url(assets/images/tsi_background.jpg) no-repeat left center fixed;
    background-size: cover;

    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w10pct {
    width: 10%;
}
.w20pct {
    width: 20%;
}
.w50pct {
    width: 50%;
}
.w60pct {
    width: 60%;
}
.w70pct {
    width: 70%;
}
.w80pct {
    width: 80%;
}