<div class="study-programm-form" mat-dialog-content>
    <mat-form-field>
      <mat-label>Code</mat-label>
      <input required matInput [(ngModel)]="data.code">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Title (EN)</mat-label>
      <input required matInput [(ngModel)]="data.titleEn">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Title (LV)</mat-label>
      <input required matInput [(ngModel)]="data.titleLv">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Title (RU)</mat-label>
      <input required matInput [(ngModel)]="data.titleRu">
    </mat-form-field>
  
</div>
<div mat-dialog-actions>
    
    <button mat-raised-button color="primary" mat-button [mat-dialog-close]="data" cdkFocusInitial>
        <mat-icon>save</mat-icon>
        <span> {{ 'COMMON.SAVE' | translate }} </span>
    </button>

    <button mat-raised-button mat-button (click)="close()" style="margin-left: 15px;">
        <mat-icon>close</mat-icon>
        <span> {{ 'COMMON.CLOSE' | translate }} </span>
    </button>
  </div>